@model IEnumerable<devtest.Models.DownloadedUsers>

@{
    ViewData["Title"] = "get";
}

<h2>g</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    foreach (var user in item.Users)
    {

        <tr>
            <td>
                @user.Gender
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        
    }
}
    </tbody>
</table>
